<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <form>
        <div id="form">
            <label>
                邀请人：（* 必填，没有邀请人）<br />
                <input type="text" name="name" value="" />
            </label><br />
            <label>
                邀请码：（* 必填）<br />
                <input type="text" name="name" value="" />
            </label><br />
            <label>
                用户名：（* 必填）<br />
                <input type="text" name="nickname" value="" />
            </label><br />

            <label>
                密码：（* 必填））<br />
                <input type="password" name="name" value="" />
            </label><br />
            <label>
                验证密码：（* 必填））<br />
                <input type="password" name="name" value="" />
            </label><br />
            <label>
                验证码：（* 必填））<br />
                <input type="text" name="name" value="" />
            </label><br />
            <button>提交</button>
            <button>重置</button>
        </div>
        <div id="and">
            <input type="checkbox" />1
            <input type="checkbox" />2
            <input type="checkbox" />3
            <input type="checkbox" class="checkAll" />全选
        </div>
    </form>
    @RenderBody()
    <a href="#">编程开发语言</a>
    <a href="#">c#</a>
    <a href="#">JAVA</a>
    <a href="#">工具软件</a>
    <a href="#">Javascript</a>
    <a href="#">html</a>


</body>
</html>
