<!DOCTYPE html>
<html>
<body>

    <div id="wx">

        文轩真帅
    </div>

    <div id="lc">
        老程真帅
    </div>

    <div id="lz">
        老赵真帅
    </div>
    <div id="wf">

        王枫真帅
    </div>
    @*<button onclick="alert(`你点我干嘛`)">点我一下</button>
        <a href=button onclick="javascipt:alert(`让你点你就点`);">你也点我一下</a>*@


    @RenderBody()
</body>
<head>
    <title>123</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="styleshee " type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    @* <js代码需要编写到script标签中> *@
    <script>
       


        

       /* 猜大小
        * 
        * var number = Math.floor(Math.random() * 10);
        for (var i = 1, b = prompt(); i < 10; i++) {
            if (b == number) {

                if (i < 3) {
                    alert(`碉堡了`); break

                }
                else if (i < 6) {
                    alert(`666`); break
                }
                else if (i < 8) {
                    alert(`猜对了`); break
                }
                else {
                    alert(`终于对了`); break
                }

            }
            else if (b < number) {
                alert(`小了`); b =  prompt()
            } else if (b > number) {
                alert(`大了`); b =  prompt()

            } else {
                alert(`非法字符`); b =  prompt()
            }
        }

*/
      /*  var wx = document.getElementById(`wx`),

            childwx = wx.childElementCount[0],

            wf = document.getElementById(`wf`),
            childwf = wf.childElementCount[0],

            lc = document.getElementById(`lc`),
            childlc = lc.childElementCount[0],

            lz = document.getElementById(`lz`),
            childlz = lz.childElementCount[0];


        wx.onmousemove = function () {
            console.log(`四次`)
        }
        lc.onmousemove = function () {
            console.log(`五次`)
        }
        wf.onmousemove = function () {
            console.log(`三次`)
        }
        lz.onmousemove = function () {
            console.log(`二次`)
        }

*/

        















    </script>


    @*<script type="text/javascript" src="~/js/site.js"></script>*@
</head>

</html>
