@page
<!DOCTYPE html>
<html>
<head>
</head>
<body>

    <span>第</span>
    <span id="count"></span>
    <span>周，</span>
    <span>源栈同学</span>
    <span id="countOne"></span>
    <span >人。</span>
    <script src="~/js/01.js"></script>

    @*<form>
            <label>用户名<input type="text" name="username" /></label><br />
            <label>密码<input type="password" name="password" /></label><br />
            <label>确认密码<input type="password" /></label><br />
            <div>
                <label>性别</label>
                <label>男<input type="radio" value="female" name="gender" /></label>
                <label>女<input type="radio" value="male" name="gender" /></label>
            </div>
            <div>
                <label>省份</label>
                <select name="province">
                    <option value="js">江苏</option>
                    <option value="hn">湖南</option>
                    <option value="hlj">黑龙江</option>
                </select>
            </div>
            <div>
                <label>自我介绍</label><br />
                <textarea name="self-introduction"></textarea>
            </div>
            <input type="submit" value="提交" />
            <input type="reset" value="重置" />
            <label><input type="checkbox" id="remember" /></label>
        </form>*@
</body>
</html>
